<p id="notice"><%= notice %></p>

<p>
  <strong>Caminho do arquivo:</strong>
  <%= @arquivo.caminho_do_arquivo %>
</p>

<%= link_to 'Edit', edit_arquivo_path(@arquivo) %> |
<%= link_to 'Back', arquivos_path %>
